<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Indie+Flower&family=Mali:wght@200&family=Pacifico&display=swap" rel="stylesheet">
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #ced9c0d9;">
    <div class="container-fluid">
      <% if (user) { %>
      <img id="logo" src="/images/logo.png" alt="App Logo"><h2 id="app-name" class="navbar-brand">Plant Diaries</h2>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/plants" <%- title === 'All Plants' ? 'class="active"' : '' %>>ALL PLANTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plants/new"	<%- title === 'Add Plant' ? 'class="active"' : '' %>>ADD PLANT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search" <%- title === 'Plant Search' ? 'class="active"' : '' %>>PLANT SEARCH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">LOG OUT - <%= user.name %></a>
          </li>
        </ul>
      </div>
      <% } %>
    </div>
  </nav>
  <main>
    