<%- include('../partials/header') %>
<div id="edit-note-page">
<h1 id="title"><%= title %></h1>
<form action="/notes/<%= note.id %>?_method=PUT" method="POST">
    <input class="form-control form-control-sm" name="content" value="<%= note.content %>">
    <button id="edit-note-btn"class="btn btn-success btn-sm" type="submit">✔</button>
</form>
</div>
<%- include('../partials/footer') %>