<%- include('../partials/header') %>
<div id="edit-page">

    <form action="/plants/<%= plant._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
    
    <img id="plant-image" src="/images/<%= plant.image %> "/><br />

    <label>Image:</label>
    <input type="file" name="image" /><br />

    <label>Common Name:</label>
    <input type="text" name="commonName" value="<%= plant.commonName %>"><br>

    <label>Scientific Name:</label>
    <input type="text" name="scientificName" value="<%= plant.scientificName %>"><br>

    <label>Adoption Date:</label>
    <input type="date" name="adoptionDate" value="<%= plant.adoptionDate %>"><br>
    
    <label>Location:</label>
    <select name="location" value="<%= plant.location %>">
        <option value="office" <%= plant.location === "office" ? 'selected' : '' %>>office</option>
        <option value="hall" <%= plant.location === "hall" ? 'selected' : '' %>>hall</option>
        <option value="kitchen" <%= plant.location === "kitchen" ? 'selected' : '' %>>kitchen</option>
        <option value="bathroom" <%= plant.location === "bathroom" ? 'selected' : '' %>>bathroom</option>
        <option value="terrace" <%= plant.location === "terrace" ? 'selected' : '' %>>terrace</option>
        <option value="porch" <%= plant.location === "porch" ? 'selected' : '' %>>porch</option>
        <option value="balcony" <%= plant.location === "balcony" ? 'selected' : '' %>>balcony</option>
        <option value="living room" <%= plant.location === "living room" ? 'selected' : '' %>>living room</option>
        <option value="patio" <%= plant.location === "patio" ? 'selected' : '' %>>patio</option>
        <option value="bedroom" <%= plant.location === "bedroom" ? 'selected' : '' %>>bedroom</option>
    </select><br>

    <label>Toxicity:</label>
    <input name="humanSafe" type="checkbox" <%= plant.humanSafe === true ? 'checked' : '' %>><label>Human-Safe</label>
    <input name="petSafe" type="checkbox" <%= plant.petSafe === true ? 'checked' : '' %>><label>Pet-Safe</label><br>

    <h2>Plant Care</h2>

    <label>Light:</label>
    <select name="light" value="<%= plant.light %>">
        <option value="full sun" <%= plant.light === "full sun" ? 'selected' : '' %>>full sun</option>
        <option value="part sun" <%= plant.light === "part sun" ? 'selected' : '' %>>part sun</option>
        <option value="part shade" <%= plant.light === "part shade" ? 'selected': '' %>>part shade</option>
        <option value="full shade" <%= plant.light === "full shade" ? 'selected' : '' %>>full shade</option>
    </select><br>

    <label>Water:</label>
    <input type="text" name="water" value="<%= plant.water %>"><br>

    <label>Ideal Temperature:</label>
    <input type="number" name="idealTemp" min="50" max="90" value="<%= plant.idealTemp %>"> °F<br>

    <label>Humidity:</label>
    <input type="range" id="humidity" name="humidity" min="0" max="100" step="10" value="<%= plant.humidity %>"> %<br>

    <label>Soil:</label>
    <input type="text" name="soil" value="<%= plant.soil %>"><br>

    <label>Fertilizer:</label>
    <input type="text" name="fertilizer" value="<%= plant.fertilizer %>"><br>

    <label>Propagation:</label>
    <select name="propagation">
        <option value="seeds" <%= plant.propagation === "seeds" ? 'selected' : '' %>>seeds</option>
        <option value="bulbs" <%= plant.propagation === "bulbs" ? 'selected' : '' %>>bulbs</option>
        <option value="food scraps" <%= plant.propagation === "food scraps" ? 'selected' : '' %>>food scraps</option>
        <option value="cuttings" <%= plant.propagation === "cuttings" ? 'selected' : '' %>>cuttings</option>
        <option value="layering" <%= plant.propagation === "layering" ? 'selected' : '' %>>layering</option>
        <option value="grafting" <%= plant.propagation === "grafting" ? 'selected' : '' %>>grafting</option>
    </select><br>
    

    <button type="submit" class="btn btn-success btn-sm">Update</button>
</form>
</div>
<%- include('../partials/footer') %>