<%- include('../partials/header') %>

<div class="container">
  <div class="row">
      <% plants.forEach(p => { %>
        <div class="col">
          <img id="plant-image" src="/images/<%= p.image %>" class="img-responsive" alt="<%= p.commonName %>"/><br/>
          <a id="plant-name" href="plants/<%= p._id %>"><%= p.commonName %></>
        </div>
      <% }) %>
  </div>
</div>

<%- include('../partials/footer') %>
