<%- include('../partials/header') %>
<body>
  <a href="<%= plant._id %>/edit">Edit Info</a><br />

  <label>Location:</label>
  <%= plant.location %><br />

  <label>Light:</label>
  <%= plant.light %><br />

  <% if (plant.notes.length) { %>
  <table>
    <thead>
      <tr>
        Notes:
      </tr>
    </thead>
    <tbody>
      <% plant.notes.forEach(n => { %>
      <tr>
        <td><%= n.content %></td>
        <td>
          <form action="/notes/<%= n._id %>?_method=PUT" method="POST">
            <button type="submit">✎</button>
          </form>
        </td>
        <td>
          <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
            <button type="submit">✕</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %> 

  <form
    id="add-note-form"
    method="POST"
    action="/plants/<%= plant._id %>/notes"
  >
    <textarea name="content"></textarea><br />
    <input type="submit" value="Add Note" />
  </form>
  <br />

  <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Plant</button>
  </form>
</body>
