<%- include('../partials/header') %>
<label>Location:</label>
<%= plant.location %><br> 
<label>Light:</label>
<%= plant.light %><br> 
<label>Notes:</label><br>
<% plant.notes.forEach(n => { %>
    <%= n.content %> 
<% }) %>
<form 
    id="add-note-form" method="POST" action="/plants/<%= plant._id %>/notes">
    <textarea name="content"></textarea>
    <input type="submit" value="Add Note">
</form>
