<%- include('../partials/header') %>

<body>
  <img id="plant-image" src="/images/<%= plant.image %> " /><br />
  <a href="<%= plant._id %>/edit">Edit Information</a><br />

  <h2>Plant Profile</h2>

  <label>Scientific Name:</label>
  <%= plant.scientificName %><br />

  <% if (plant.adoptionDate) { %>
  <label>Adoption Date:</label>
  <%= plant.adoptionDate.split('-').reverse().join('-') %><br />
  <% } %>

  <label>Location:</label>
  <%= plant.location %><br />

  <label>Toxicity:</label>
  <% if (plant.humanSafe && !plant.petSafe) { %> 
    human-safe 
    <% } %> 
  <% if (plant.petSafe && !plant.humanSafe) { %> 
    pet-safe 
    <% } %> 
  <% if (plant.humanSafe && plant.petSafe) { %> 
    human-safe and pet-safe 
    <% } %>

  <h2>Plant Care</h2>

  <label>Light:</label>
  <%= plant.light %><br />

  <label>Water:</label>
  <%= plant.water %><br />

  <label>Ideal Temperature:</label>
  <%= plant.idealTemp %>°F<br />

  <label>Humidity:</label>
  <%= plant.humidity %>%<br />

  <label>Soil:</label>
  <%= plant.soil %><br />

  <label>Fertilizer:</label>
  <%= plant.fertilizer %><br />

  <label>Propagation:</label>
  <%= plant.propagation %><br />

  <% if (plant.notes.length) { %>
  <table>
    <thead>
      <tr>
        Notes:
      </tr>
    </thead>
    <tbody>
      <% plant.notes.forEach(n => { %>
      <tr>
        <td><%= n.content %></td>
        <td>
          <a href="/notes/<%= n._id %>/edit"><button>✎</button></a>
        </td>
        <td>
          <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
            <button type="submit">✕</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>

  <form
    id="add-note-form"
    method="POST"
    action="/plants/<%= plant._id %>/notes"
  >
    <textarea name="content"></textarea><br />
    <input type="submit" value="Add Note" />
  </form>
  <br />

  <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Plant</button>
  </form>
</body>
