<%- include('../partials/header') %>

  <div id="show-page">
  <h1 id="title"><%= title %></h1>
  <img id="plant-image" src="/images/<%= plant.image %>"/><br />
  <a id="edit-btn" href="<%= plant._id %>/edit"><button class="btn btn-outline-success btn-sm">Edit Information</button></a>
  
  <h4 class="plant-profile-care">Plant Profile</h4>
  
  <label id="labels">Scientific Name:</label>
  <%= plant.scientificName %><br/>

  <label id="labels">Adoption Date:</label>
  <%= plant.adoptionDate.split('-').reverse().join('-') %><br />

  <label>Location:</label>
  <%= plant.location %><br />

  <label>Toxicity:</label>
  <% if (plant.humanSafe && !plant.petSafe) { %> 
    human-safe 
    <% } %> 
  <% if (plant.petSafe && !plant.humanSafe) { %> 
    pet-safe 
    <% } %> 
  <% if (plant.humanSafe && plant.petSafe) { %> 
    human-safe and pet-safe 
    <% } %>
  
  <h4 class="plant-profile-care">Plant Care</h4>

  <label>Light:</label>
  <%= plant.light %><br />

  <label>Water:</label>
  <%= plant.water %><br />

  <label>Ideal Temperature:</label>
  <%= plant.idealTemp %>°F<br />

  <label>Humidity:</label>
  <%= plant.humidity %>%<br />

  <label>Soil:</label>
  <%= plant.soil %><br />

  <label>Fertilizer:</label>
  <%= plant.fertilizer %><br />

  <label>Propagation:</label>
  <%= plant.propagation %><br />

  <% if (plant.notes.length) { %>
  <table>
    <thead>
      <tr>
        Notes:
      </tr>
    </thead>
    <tbody>
      <% plant.notes.forEach(n => { %>
      <tr>
        <td id="notes-content"><%= n.content %></td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/notes/<%= n._id %>/edit"><button class="btn btn-outline-success btn-sm">✎</button></a>
        </div>
        </td>
        <td>
          <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-outline-dark btn-sm">✕</button>
          </div>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } %>

  <form id="add-note-form" method="POST" action="/plants/<%= plant._id %>/notes">
    <textarea class="form-control" placeholder="Additional Care" name="content" id="floatingTextarea2" style="height: 100px"></textarea>
    <button type="submit" class="btn btn-success btn-sm">Add Note</button>
  </form>
  <br/>

  <form action="/plants/<%= plant._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-outline-danger btn-sm">Delete Plant</button>
  </form>
</div>
  <%- include('../partials/footer') %>